body {
    background-color: black;
    margin: 0;
}

.Navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    max-width: 300px;
    padding: 20px;
    position: fixed;
    text-align: center;
}

.Navbar li {
    list-style-type: none;
    list-style-position: outside;
    padding: 2px;
    margin-left: -50px
}

.Navbar a {
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
}

.Navbar a:hover {
    color: #f1f1f1;
}

.Navbar h1 {
    text-align: center;
}

#menu-btn {
    display: none;
}

#logo {
    border: 5px solid #818181;
    padding: 5px;
}

#logo img {
    width: 100px;
}

.Gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 340px;
    width: 80%;
    padding: 20px;
    background-color: #c1c1c1;
}

.categories {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 30%;
    max-width: 450px;
    min-width: 350px;
}

.Gallery h2 {
    background-color: rgb(73, 138, 104);
    color: rgb(240, 240, 240);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-shadow: 2px 2px 15px 0px #818181;
}

.Gallery h2:hover {
    background-color: rgb(45, 85, 64);
}

.Gallery a {
    text-decoration: none;
}

.Gallery img {
    width: 100%;
    box-shadow: 2px 2px 15px 0px #818181;
}

.Main-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

@media all and (max-width: 900px) {
    .Main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Navbar {
        display: flex;
        flex-direction: column;
        position: static;
        max-width: 850px;
        width: 100%;
    }

    #nav.closed {
        display: none;
    }

    #nav.open {
        display: block;
    }

    #menu-btn {
        display: inline;
    }

    #nav-lg {
        display: none;
    }

    h1, p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Gallery {
        max-width: 850px;
        width: 100%;
        margin-left: 0;
        
    }
}

@media all and (max-width: 840px) {
    .categories {
        width: 90%;
        min-width: none;
        max-width: none;
    }
}