/* ----- Entire Page Elements ----- */

body {
    background-color: #c1c1c1;
    margin: 0;
}

.Main-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

/* ----- Side Navigation Bar ----- */

.Navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: white;
    max-width: 250px;
    padding: 20px;
    position: fixed;
    text-align: center;
    height: 100%;
}

.Navbar li {
    list-style-type: none;
    list-style-position: outside;
    padding: 10px;
    margin-left: -50px;
    font-size: 23px;
}

.Navbar a {
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
}

.Navbar a:hover {
    color: #f1f1f1;
}

.Navbar h1 {
    text-align: center;
    padding: 10px;
}

/* Hidden on desktop, shown on moble */
#menu-btn {
    display: none;
}

#logo {
    border: 5px solid #818181;
    padding: 5px;
}

#logo img {
    width: 100px;
}

footer {
    position: fixed;
    bottom: 0px;
    padding-bottom: 25px;
    background-color: black;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

footer img {
    max-width: 30px;
    padding: 5px;
    height: auto;
}

/* ----- About Page ----- */

.About {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    padding: 20px;
    background-color: #c1c1c1;
}

.About p {
    font-size: 20px;
}

.About img {
    width: 30%;
}

.About a {
    color: rgb(47, 87, 66);
}

/* ----- Home Page Gallery -----*/

.Home-Gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    padding: 20px;
    background-color: #c1c1c1;
}

.Home-Gallery h2 {
    margin-top: -4px;
    margin-bottom: -4px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.Home-Gallery a {
    text-decoration: none;
}

.Home-Gallery img {
    width: 100%;
}

/* Next 3 classes control zoom effect */
.zoom-container {
    overflow: hidden;
}

.not-zoomed img {
    transition: transform 0.5s ease;
}

.zoomed img {
    transition: transform 0.5s ease;
    transform: scale(1.2);
}

.categories {
    box-shadow: 4px 4px 15px 0px #818181;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.gallery-button {
    text-transform: capitalize;
}

/* ----- Plant Gallery Page ----- */

.Gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    padding: 5px;
    background-color: #c1c1c1;
}

.Gallery img {
    width: 100%;
}

.thumbnails {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
}

.image-shadow {
    box-shadow: 4px 4px 15px 0px #818181;
}

.shop-button-container {
    margin: 10px;
}

/* ----- Colors (for Buttons) ----- */

.green {
    background-color: rgb(73, 138, 104);
    color: rgb(240, 240, 240);
}

.red {
    background-color: rgb(138, 73, 73);
    color: rgb(240, 240, 240);
}

.green:hover {
    background-color: rgb(45, 85, 64);
}

/* ----- Buttons -----*/

/*button {
    border: 0;
    padding-left: 12.5px;
    padding-right: 12.5px;
    margin-top: -4.5px;
    height: 25px;
    font-size: 15px;
    width: 50%;
}*/

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button-container button {
    margin-top: -4px;
    margin-left: 3px;
    margin-right: 3px;
    height: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

button.enabled {
    background-color: rgb(20,20,20);
    color: white;
}

button.enabled:hover {
    background-color:rgb(73, 138, 104);
}

button.disabled, .button.disabled:hover {
    background-color: rgb(110,110,110);
    color: white;
}

@media all and (max-width: 900px) {
    body {
        background-color: #c1c1c1;
        margin-bottom: 30px;
    }

    .Main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .Navbar {
        display: flex;
        flex-direction: column;
        position: static;
        max-width: 900px;
        width: 100%;
    }

    #nav.closed {
        display: none;
    }

    #nav.open {
        display: block;
    }

    #menu-btn {
        display: inline;
    }

    #nav-lg {
        display: none;
    }

    h1, p {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        width: 100%;
        max-width: 900px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .Home-Gallery, .About, .Gallery {
        max-width: 850px;
        width: 100%;
        margin-left: 0;
        margin-bottom: 60px;
    }
}

@media all and (max-width: 840px) {
    .categories, .thumbnails {
        width: 90%;
        min-width: none;
        max-width: none;
    }

    .button-container button {
        height: 32px;
        font-size: 16px;
    }
}

/* Testing LightGallery */

img.lg-object.lg-image {
    max-height: 80%;
}